@page
@model Mission05_b2256.Views.blah.Index1Model
@{
}
<h2>Calculate Grade:</h2>
<form>
    <label>Assignments: </label>
    <input id="textAsn" name="Assignment"/><br />
    <label>Group Project:</label>
    <input id="gp" name="Project"/><br />
    <label>Quizzes:</label>
    <input id="quizzes" name="Quizzes"/><br />
    <label>Midterm Exam:</label>
    <input id="mExam" name="Midterm"/><br />
    <label>Final Exam:</label>
    <input id="fExam" name="Final"/><br />
    <label>INTEX:</label>
    <input id="intex" name="Intex"/><br />
    <p id="result"></p>
    <textarea id="result" rows="4"></textarea>
    <input id="btnSend" type="button" value="Send Message" />
</form>