@*

*@
@{
    ViewData["Title"] = "Bruyn Decker's awesome grade calculator";
}
@model GradeCalcModels;
<h2>Calculate Grade:</h2>
<form method="post">
    <label>Assignments: </label>
    <input id="textAsn" asp-for="Assignment" /><br />
    <label>Group Project:</label>
    <input id="gp" asp-for="Project" /><br />
    <label>Quizzes:</label>
    <input id="quizzes" asp-for="Quizzes" /><br />
    <label>Midterm Exam:</label>
    <input id="mExam" asp-for="Midterm" /><br />
    <label>Final Exam:</label>
    <input id="fExam" asp-for="Final" /><br />
    <label>INTEX:</label>
    <input id="intex" asp-for="Intex" /><br />
    <input id="btnSend" type="submit" value="Send Message" />
    <div asp-validation-summary="All"></div><br />
    <div id="result"></div>
</form>
<script src="js/JavaScript.js"></script>
<h3>Your final grade is: @ViewData["Result"]</h3>

