@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Bruyn Decker's awesome website";
}

    <h1>Bruyn Decker</h1>

    <img src="img/IMG_0233.JPEG" width="400"
         height="300" />
    <p class="intro">
        I hope to become an ASP.NET master because of this class!
        I hope that the skills taught in this class lead to me being better at programming
        and help me learn marketable skills.  I think that it would be really cool to get a job
        in application development, so I'm definitely going to be paying attention in this class
        and especially to my excellent professors and TA's.
    </p>
    <br />

    <p>Top 3 Jobs I'm interested in persuing:</p>
    <ul>
        <li>Web Developer</li>
        <li>Consultant</li>
        <li>Data Analyst</li>
    </ul>

