<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <meta charset="utf-8" />
    <link rel="shortcut icon" type="image/jpg" href="~/img/bruyn_headshot_Xim_icon.ico" />
    <link href="~/bootstrap/css/bootstrap.min.css?id=1234" rel="stylesheet" />
    <link href="~/css/StyleSheet.css?id=1234" rel="stylesheet" />
</head>
<body>
    <nav>
        <a asp-controller="blah" asp-action="Index">Home</a>
        <a asp-controller="blah" asp-action="GradeCalc">Grade Calculator</a>
    </nav>
    <div>
        @RenderBody()
    </div>
    <footer>This is the footer</footer>
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery/jquery-3.6.3.min.js"></script>
    <script src="~/js/JavaScript.js"></script>
</body>
</html>
